* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #b65466;
  color: #000;
  line-height: 1.5em;
}

a {
  color: inherit;
}

h1 {
  font-size: 22px;
}

input {
  width: 100%;
  padding: 8px 20px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #fff;
  color: inherit;
}

::placeholder {
  color: #000;
}

section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.mt-20 {
  margin-top: 20px;
}

.btn {
  cursor: pointer;
  border: none;
  margin: 12px 0px 0px;
  padding: 0px 15px;
  border-radius: 4px;
  box-shadow: #ebebeb 0px 6px 0px;
  font-family: inherit;
  font-size: 15px;
  font-weight: inherit;
  height: 29px;
  color: #ba4949;
  font-weight: bold;
  width: auto;
  background-color: white;
  transition: color 0.5s ease-in-out 0s;
}

.btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

.main-header {
  background-color: darkgray;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.main-header-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.main-header-links-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
}

.main-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.main-nav-text-input {
  flex-grow: 3;
}

.main-nav-search-wrapper {
  position: relative;
  flex-grow: 1;
}

.main-nav-search-input {
  padding-left: 30px;
}

.fa-magnifying-glass {
  padding: 10px;
  position: absolute;
  left: 0;
}

/* events --------------------------------------------- */

.added-class {
  color: yellow;
}

.box {
  display: none;
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  text-align: center;
}

.empty-text {
  background-color: antiquewhite;
}

.text-input {
  width: 120px;
}
